@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.woff);
  /* src: url(./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.woff); */
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff);
  /* src: url(./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff); */
}

@font-face {
  font-family: 'Cutive Mono', monospace;
  src: url(./assets/fonts/Cutive_Mono/CutiveMono-Regular.woff);
} 

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (min-with: 600px) {
/*...*/
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 1rem 2rem;

 /*  height: 100vh;
  background-image: url("./assets/images/nkm_Mitarbeiter_Nina_6862_CeditAmelie-Niederbuchner_1080x1080.jpg"); */
} 

nav {
  height: 48px;
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: gainsboro;
  border-radius: 15px;
  padding-right: 5%;
}

main {
  flex-grow: 1;
  margin: 1rem 2rem;
}

#Contact {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding-left: 5%;
}

@media screen and (max-width: 600px) {
  #Contact {
    flex-direction: column;
    height: auto;
    gap: 0;
    padding: 5% 0%;
  }
}

footer {
background-color: gainsboro;
width: 100%;
height: 48px;
padding-right: 5%;
padding-left: 5%;
gap: 20px;
display: flex;
align-items: center;
justify-content: flex-start;
}

p, li, a {
  line-height: 150%;
}

img {
  border-radius: 50%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.credit {
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.progress-bar {
  background-color: black;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  z-index: 10;
  transition: width 0.05s ease;
}

/* h1 {
  font-family: 'Cutive Mono', monospace;
}
